* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  background-color: rgba(0, 115, 255, 0.978);
  padding: 1rem;
}

.content {
  width: 90%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #fff;
  font-weight: bold;
}

h2 {
  text-align: center;
  margin-top: 2rem;
}

h2::after {
  content: "";
  display: block;
  margin: 1rem auto;
  height: 3px;
  width: 200px;
  background-color: rgb(8, 8, 8);
}

.nav-bar,
a {
  text-decoration: none;
  margin-left: 2rem;
  font-weight: bold;
  font-size: 1.5rem;

  color: #fff;
}

